<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" clrForm>
  <clr-input-container>
    <label>Sender's IBAN</label>
    <input clrInput formControlName="iban" placeholder="Sender's IBAN" />
  </clr-input-container>

  <clr-input-container>
    <label>Recipient</label>
    <input clrInput formControlName="recipient" placeholder="Recipient's Name" />
  </clr-input-container>

  <clr-input-container>
    <label>Recipient's IBAN</label>
    <input clrInput formControlName="ibanRecipient" placeholder="Recipient's IBAN" />
  </clr-input-container>

  <clr-input-container>
    <label>Amount in USD</label>
    <input clrInput formControlName="amount" type="number" placeholder="Amount" />
  </clr-input-container>

  <clr-textarea-container>
    <label>Description</label>
    <textarea clrTextarea formControlName="description" placeholder="Description"></textarea>
  </clr-textarea-container>

  <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.valid">Submit</button>
</form>

